<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title>MongoChat</title>

  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                  <h1 class="text-center">
                      MongoChat 
                  </h1>
                  <div id="status">{{status}}</div>
                  <div id="chat">
                      <input type="text" id="username" [(ngModel)]="username" class="form-control" placeholder="Enter name...">
                      <br>
                      <div class="card">
                          <div id="messages" *ngFor="let message of messages" class="">
                            {{message}}
                          </div>
                      </div>
                      <br>
                      <textarea id="textarea" class="form-control" [(ngModel)]="message" placeholder="Enter message..."></textarea>
                      <button (click)="sendMessage()">Send</button>
                  </div>
              </div>
          </div>
      </div>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
  </body>
  </html>