<div class="container">
  <div class="row">
   <div class="mainHeading"><h1>The Code Sphere Developer Panel</h1></div>
    <div class="col-md-4">
      <div class="card">
      <div class="image"></div>
      <div class="info">
        <span class="creatorName">Rahul Sharma</span>
        <span class="creatorField">Full Stack Ninja!</span>
      </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="image1"></div>
            <div class="info">
              <span class="creatorName">Sharad Dadhich</span>
              <span class="creatorField">Android Master!</span>
            </div>
            </div>
          
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="image2"></div>
            <div class="info">
              <span class="creatorName">Sahil Gumber</span>
              <span class="creatorField">Front-End Expert !</span>
            </div>
            </div>
    </div>
  </div>
</div>