<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharaddadhich.minorprojectcode_sphere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.IdCardActivity" />
        <activity android:name=".Activities.ShowCommunityActivity" />
        <activity android:name=".Activities.ChatUsingSocketIOActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".Activities.InternshipsActivity" />
        <activity android:name=".Activities.WriteInternshipActivity" />
        <activity android:name=".Activities.JobxActivity" />
        <activity android:name=".Activities.WriteJobxActivity"></activity>
    </application>

</manifest>