#container_back{
	/* background:url('option2.jpg'); */
	background-attachment: fixed;
	background-size: cover;
	
}
#jumbotron-css{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;

	background:rgba(0,0,0,0.8);
}
.jumbotron-text{
	color: white;
}